.navigation {
  background-color: rgba(220, 245, 235, 0.9);
  width:100%;
  height:50px;
  position: fixed;
  top: 0;
  z-index:0;
}
li.pull-right h4{
  padding-right: 8px;
  color: black;
  text-decoration: none;
}
li.pull-right h4:hover{
  color: gray;
}

.bcg {
  background: no-repeat center center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  display: inline-block;
 }

#home .bcg {
 background: url(../images/curves3.png) no-repeat no-repeat center center;
 background-size: cover;
 min-height: 695px;
}


#rise .bcg {
 min-height: 10px;
 background-size: cover;
 background-color: black;
 clear: all;
}
/*adjust for header when clicked*/


#sun  {
  position:relative;
  top:19px;
  background: url(../images/GroupSun.png) no-repeat center;
  z-index:3;
}
#div-wrapper {
   white-space: nowrap;
   max-width: 100%;
 }

.single-div {
   width: 100%;
   display: inline;
   text-align: center;
   vertical-align: middle;
 }

.single-div < #experience{
 background-color: white;
}

.square-icons {
  background: url(../images/cups.png);
  width: 314px;
  height: 190px;
  border: none;
  outline: none;
}

 #first {
   background-position: 10px 0px;
   position:relative;
   margin-left: 1px;
 }

 .layer {
     background-color: rgba(0, 0, 0, 0.55);
     position: absolute;
     top: 0;
     left: 0;
     width: 314px;
     height: 190px;
     margin-left: -1px;
 }

 #second {
   background-position: 0px -220px;
   position:relative;
  }
 #third {
   background-position: 0px -440px;
   position:relative;
 }
 #fourth {
   background-position: 0px -660px;
   position:relative;

 }

#experience {
  height: 220px;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
 }
 #experience div {
   left: 100px;
   position: relative;
 }


 #update {
  height: 550px;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  background: url(../images/Layer9.png)no-repeat;
  z-index:0;
  text-align: center;
  }

  #update span, div {
    width:100%;
  }

  .story {
    display: inline-block;
    position: absolute;
    left: calc(50% - 113px);
    margin-top: 40px;
  }

  .updates {
    text-align: center;
    z-index: 2;
  }

  #newsletter .bcg {
    background: url(../images/Newsletter_grid.png) no-repeat no-repeat center center;
    background-size: cover;
    min-height: 690px;
    z-index: 0;
  }

#box .bcg {
  background: url(../images/box.png) no-repeat no-repeat center center;
  background-size: cover;
}
/**/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 0; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s

}

.scroll-down {
  color:black; font-size:50px; width:80px; height: 30px;
  top:600px;position:absolute;left:calc(50% - 50px);
}
.scroll-down:hover {
cursor: pointer;
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #cde2c3
;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #d4edc9;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #bcceb3;
    color: white;
}
#myBtn {
  background-color: transparent;
  border: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

#myBtn:hover {
  background-color: black;
  color: white;
  border: 2px solid lightgrey;
}

#freely h4{
  color: rgba(255, 255, 255, 0.5);
}
/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

/**/


#footer{
  height:90px;
  width: 100%;
  margin-top: -7px;
}

@media (max-width:1024px) {
  #box {
    display: none;
  }

  #experience div {
    position: relative;
    left: 150px;
  }
  #ellipse, #layer {
    position: relative;
    left: 80px !important;
   }
}


/*desktop to tablet*/
  @media (min-width:631px) and (max-width:957px) {
    div #rise {
      position:relative;
      display:inline;
      left: calc(50% - 319px);
    }
  }

  @media (min-width:957px) and (max-width:1271px) {
    div #rise {
      position:relative;
      display:inline;
      left: calc(50% - 470px);
    }
    #fourth {
      display: none;
    }
  }

  @media (max-width:766px) {
    .main-h3 {
      max-width: 100%;
      float: left;
      font-size:105%;
      word-wrap: break-word;
      font-weight:bolder;
    }
  }

/*tablet and smaller*/
@media (max-width:643px) {
  div #rise {
    position:relative;
    display:inline;
    left: calc(50% - 160px);
  }

  .logo {
    width:120px;
    height: auto;
  }

  #update {
    background-position: -460px;
    top:-38px;
  }
  #ellipse, #layer {
    left: 8px !important;
  }

  #experience-text h3{
    font-size: medium;
  }
  .scroll-down {
    display: none;
  }
}
